/* 自定义主题颜色 */
:root {
  font-family: Inter, sans-serif;
  --primary-color: #3b82f6;
  --primary-dark: #2563eb;
}

.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.hover\:text-primary:hover {
  color: var(--primary-color);
}

.hover\:bg-primary:hover {
  background-color: var(--primary-color);
}

.hover\:bg-primary-dark:hover {
  background-color: var(--primary-dark);
}

.border-primary {
  border-color: var(--primary-color);
}

.from-primary {
  background-color: var(--primary-color);
}

.to-primary-dark {
  background-color: var(--primary-dark);
}

/* 文本省略 */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* 淡入动画 */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out;
}

.editor-html p {
  margin: 15px 0;
}
